body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../assets/signin.png');
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
}

.signin-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-left: 200px;
    border-radius: 8px;
    box-shadow: 6px 6px 2px 1px rgb(103, 103, 255);
    width: 400px;
}

.signin-container h2 {
    margin-top: 0;
    color: white;
    text-align: center;
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 15px 0;
}

.signin-container input[type="text"],
.signin-container input[type="password"],
.signin-container input[type="email"],
.signin-container button[type="submit"],
.signin-container a[href="../index.html"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signin-container button[type="submit"] {
    background-color: rgb(103, 103, 255);
    color: white;
    border: none;
    cursor: pointer;
}

.signin-container a[href="../index.html"] {
    background-color: rgb(189, 189, 189);
    color: rgb(75, 75, 75);
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    border: none;
    cursor: pointer;

}

.signin-container button[type="submit"]:hover {
    background-color: rgb(103, 103, 255);
}

.username-container,
.password-container,
.confirm-password-container,
.fullname-container,
.email-container {
    margin: 15px 5px;
}

.signin-container label {
    color: rgb(103, 103, 255);
    font-weight: bold;
}

.signin-container label i {
    margin-right: 10px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.39);
}

label,
p,
button[type="submit"],
a {
    font-weight: bold;
    color: white;
    font-size: 14px;
    text-align: center;
}

a {
    color: rgb(103, 103, 255);
}


@media screen and (max-width: 400px) {
    .signin-container {
        width: 90%;
    }
}

.welcome {
    color: white;
    font-size: 4.5em;
    position: relative;
    top: -200px;
    left: 220px;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(103, 103, 255);
}